/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

#logo,
h2 {
  height: 300px;

  position: static;
}

body {
  height: 100vh;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: 3.5em auto;
  list-style: none;
}

li img {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 240px;
  width: 110%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#treehouse {
  background-image: url(/background-picker/img/treehouse.jpg) no-repeat
    cover/center;
}
#green {
  background: rgba(0, 253, 81, 1);
}
#blue {
  background: rgba(0, 254, 255);
}

@media screen and (max-height: 820px) and (min-height: 390px),
  screen and (orientation: landscape) {
  body {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    border: 5px solid red;
    width: 100%;

    display: inline-block;
    align-items: baseline;
  }
}
